[Unit]
# 服务的描述
Description=RobotMaster Pnx 2025 TargetArrow Service
# 定义服务在哪些单元之后启动（例如网络就绪、系统日志服务就绪）
After=network.target syslog.target graphical-session.target

[Service]
Type=simple
WorkingDirectory=/etc/RM25/
User=pnx
Environment=DISPLAY=:0
EnvironmentFile=/etc/RM25/env
ExecStart=/etc/RM25/launch.sh 
Restart=on-failure 
RestartSec=1 

[Install]
WantedBy=default.target