<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="example_robot_model">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import example_robot_model urdf file -->
    <xacro:include filename="$(find example_robot_model)/urdf/my_robotic_arm.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="example_robot_model.ros2_control.xacro" />


    <xacro:example_robot_model_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
